<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>NUnit Test Class</Title>
      <Shortcut>ntc</Shortcut>
      <Description>Code snippet for a test class</Description>
      <Author>Rob Prouse</Author>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Imports>
        <Import>
          <Namespace>NUnit.Framework</Namespace>
        </Import>
      </Imports>
      <References>
        <Reference>
          <Assembly>nunit.framework.dll</Assembly>
        </Reference>
      </References>
      <Declarations>
        <Literal>
          <ID>cname</ID>
          <ToolTip>Replace with the name of the test class</ToolTip>
          <Default>Class</Default>
        </Literal>
        <Literal>
          <ID>tname</ID>
          <ToolTip>Replace with the name of the test method</ToolTip>
          <Default>TestMethod</Default>
        </Literal>
        <Literal Editable="false">
          <ID>TestFixture</ID>
          <Function>SimpleTypeName(global::NUnit.Framework.TestFixture)</Function>
        </Literal>
        <Literal Editable="false">
          <ID>Test</ID>
          <Function>SimpleTypeName(global::NUnit.Framework.Test)</Function>
        </Literal>
      </Declarations>
      <Code Language="csharp"><![CDATA[[$TestFixture$]
      public class $cname$Test
      {
          [$Test$]
          public void $tname$()
          {
              $end$
          }
      }]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>